@model IdentityServer.Dtos.UserLoginDto
<div class="container">

    <div class="row">
        <div class="col s12">
            <h1 class="center-align grey-text text-darken-4">Login</h1>
        </div>
    </div>
    <br />
    <br />
    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <form id="insertForm" asp-controller="Auth" asp-action="Login"
                          method="post">
                        <input type="hidden" asp-for="ReturnUrl" />
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons iconis prefix">account_box</i>
                                <input asp-for="@Model.UserName" />
                                @Html.LabelFor(m => m.UserName)
                                @*<label for="UserName">User Name</label>*@
                                <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons iconis prefix">enhanced_encryption</i>
                                <input asp-for="@Model.Password">
                                @Html.LabelFor(m => m.Password)
                                @*<label for="Password">Password</label>*@
                                <span asp-validation-for="@Model.Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input asp-for="@Model.RememberMe" id="check">
                                <label for="check">Remember Me</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 center-align">
                                <button class="btn waves-effect red lighten-1" type="submit" name="action">
                                    Submit
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>