/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/* label focus color */
.input-field input:focus + label {
    color: #ef5350 !important;
}
/* label underline focus color */
.row .input-field input:focus {
    border-bottom: 1px solid #ef5350 !important;
    box-shadow: 0 1px 0 0 #ef5350 !important
}
/*icon color*/
.input-field .prefix.active {
    color: #ef5350 !important;
}

/*dropdown list color*/
.dropdown-content li > a, .dropdown-content li > span {
    color: #ef5350 !important;
}

/*paging align center*/
.pagination {
    justify-content: center;
}





.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
