<ul id="nav-mobile" class="right hide-on-med-and-down">
    <li>
        <a class="grey-text text-lighten-5" asp-controller="Book" asp-action="Logout">
            Logout
            <i class="material-icons left">logout</i>
        </a>
    </li>
</ul>